
/*	Animations - WebKit only
------------------------------------------ */
.boat {
	-webkit-animation: rock-boat 3s ease-in-out infinite;
}

.boat::after {
	-webkit-animation: steam 4s 2s infinite;
}

body {
	-webkit-animation: bg-move 12s ease-out infinite;
	-webkit-animation-direction: alternate;
}

/*	Keyframes - WebKit only
------------------------------------------ */

@-webkit-keyframes rock-boat {
	0% {-webkit-transform: rotate(0) translateY(0);}
	50% {-webkit-transform: rotate(-5deg) translateY(-10px);}
	}

@-webkit-keyframes steam {
	40% {opacity: .7;}
	75% {opacity: 1;}
	100% {-webkit-transform: translate(-15%, -35%) rotateZ(30deg);}
}

@-webkit-keyframes bg-move {
	0% {background-position: 100% -460px;}
	100% {background-position: -350% -460px;}
}
